<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>{{isOnline ? 'You are online' : 'You are Offline'}}</h1>
  <div id="container">
    <input placeholder="Name" #input/>
    <button (click)="buttonPressed(input.value)">Update</button>
    <button (click)="getLatest()">Get Latest</button>
    <p>{{name}}</p>
  </div>
</ion-content>
